.places {
  width: 100%;
  padding: 0 0 5%;
  margin: auto;
 
}

@media screen and (min-width: 767px) {
  .places {
    padding: 0 0 2.21%;
    width: 93.75%;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    width: 90.62%;
    padding: 0;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: 76.87%;
  }
}
