.intro-section {
 padding: 20% 5% 0;
}


@media screen and (min-width: 767px){
  .intro-section {
      padding: 11.45% 3.12% 0;
   }
  }

  @media screen and (min-width: 1024px){
    .intro-section {
      padding: 9% 27.92% 0 4.68%;
    }
  }

  @media screen and (min-width: 1280px){
    .intro-section {
      padding: 7.18% 34.53% 0 12%;
    }
  }
