.lead {
  padding: 15% 0 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lead {
    padding: 4.68% 4.68% 0;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    padding: 4.84% 11.56% 0;
  }
}
