.lead__image {
  padding: 12.5% 0 0;
  margin: 0;
  width: 100%;
}


@media screen and (min-width: 1024px) {
  .lead__image {
    padding: 5.46% 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    padding: 6.25% 0 0;
  }
}
