.intro-section__text {
  margin: 0;
  padding: 12% 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}


@media screen and (min-width: 767px) {
  .intro-section__text {
    padding: 5.2% 0 0;
  }
}


@media screen and (min-width: 1024px) {
  .intro-section__text {
    padding: 6% 0 0;
  }
}
